*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none    
}

/******************************  header  ********************************** */

header nav{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoppingCart{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.shoppingCart img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all .3s linear;
}
.shoppingCart img:hover{
    box-shadow: 1px 1px 7px white;
}
.logo p{
    color: #f0f0f0;
    font-size: 25px;
    font-weight: 800;
}
 
/******************************  cart  ********************************** */

.shoppingCartSection{
    background-color: #333;
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 110px;
    right: 20px;
    opacity: 0;
    transform: translateY(-5px);
    transition: all .2s linear;
}
.shoppingCart.active .shoppingCartSection{
    opacity: 1;
    transform: translateY(0);

}

/******************************  add product to cart  ********************************** */
.productItemCart{
    display: flex;
    align-items: center;
    margin: 15px;
    background-color: #505050;
    border-bottom: 2px solid #999999;
    border-radius: 10px;
    transition: all .3s linear;
}
.productItemCart:hover{
    background-color: #6a6a6a;
    color: #fff;
    box-shadow: 2px 2px 4px #adadad;

}
.productItemCart:hover .productTitleCart{
    color: #fff;
}
.productImgCart{
    flex: 0.4;
    height: 90px;
}
.productImgCart img{
    width: 100%;
    border-radius: 10px;
}
.productTitleCart{
    flex: 2;
    color: rgb(35, 35, 35);
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s linear;
}
.productTitleCart h3{
    font-size: 15px;
}
.productTitleCart p{
    font-size: 12px;
    margin-top: 10px;
}
.productTextCart{
    margin-right: 10px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.removeBtnCart{
    padding: 5px 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(159, 48, 48);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
}
.removeBtnCart:hover{
   color: white;
}




/******************************  main  ********************************** */
.products{
    padding-top: 50px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px ;
    
}
.productItem{
    border: 2px solid #b3b2b2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.productItem img{
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    margin: 20px 0;

}
.productTop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productTop h3{
    font-size: 16px;
    padding: 0 10px;
    align-self: flex-start;
}
.productTop p{
    padding:10px;
    font-size: 13.5px;

}
.productBottom{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px; 

}
.order{
    display: flex;
    align-items: center;
}
.order button{
    padding:5px 12px;
    margin: 0 5px;
    border: 1px solid #bebdbd;
    border-radius: 5px;
    background-color: #007f2a;
    color: #fff;
    cursor: pointer;
    transition: all .3s linear;
    
}
.order button:hover{
    background-color: #009e35;
    box-shadow: 0px 0px 3px #9b9a9a;
}